.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(226, 255, 5, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }
.navbar-brand{
    border-radius: 5px;
}



.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  margin-bottom: 10px;

}



/* Waves Animation */

.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
 transform: translate3d(-90px,0,0);
}
100% { 
  transform: translate3d(85px,0,0);
}
}



/* Content styles */
.content {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Body styling */
body {
  background: rgb(192, 46, 209);
  background: linear-gradient(90deg, rgba(192, 46, 209, 1) 0%, rgba(108, 139, 247, 1) 100%);
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 16px;
  color: #333333;
  min-height: 100vh; /* Ensure body covers the entire viewport height */
}
.main-body{
  padding-top: 10%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.main-heading h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}

.main-heading h4{  
  font-size: 1.5em;
  font-weight: bold;
}

/* Navbar styling */
.navbar {
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Main heading container styling */
.main-heading {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 70%;
  margin: 10px auto; /* Center the container horizontally and provide space */
  padding: 20px;
}

h1 {
  font-size: 4em;
  font-family: 'Impact', sans-serif;
  margin: 0; /* Remove default margin */
}
p{
  font-weight: bold;
  font-size: large;
}

/* Image container styling */
.img-container-main {
  display: flex;
  justify-content: center;
  margin: 20px auto; /* Center the container horizontally and provide space */
  gap: 20px; /* Space between image items */
  width: 80%;
}
#imgh1{
  width: 100px;
  margin-left: 20px;
  height:100px;
  display: inline;
}
#imgmain1, #imgmain2{
  width: 30%;
  height: 200px;
}
/* scroll BTn */
.scroll-down-button {
  cursor: pointer;
  font-size: 24px;
  color: #333;
  animation: moveUpDown 1s infinite alternate;
  width: fit-content;
}

.main-heading-sub{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.card-container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  width: 300px;
  background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1 1 300px;
  color: #000000;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust as needed */
}
.card-container :hover{
  transform: scale(1.05);
  cursor: pointer;
}

.card-image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-description {
  margin-top: 10px;
  text-align: center;
  height: 350px;
}


.card-image{
  margin: 0px auto;
}

.card-image img {
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 80px;
}

/* Navbar */
.navbar-collapse {
  flex-basis: 100%;
  justify-content: space-between;
}

.navbar-nav {
  flex-direction: column;
  padding-top: 20px; /* Adjust as needed */
}

.navbar-toggler {
  order: -1;
}

.nav-item {
  text-align: center;
}

.nav-link {
  padding: 10px; /* Adjust as needed */
}

/* Main heading */
.main-heading-sub {
  text-align: center;
}

/* Image container */
.img-container-main {
  text-align: center;
}

/* Scroll down button */
.scroll-down-button {
  margin-top: 20px; /* Adjust as needed */
}

/* Waves */
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: -1;
}

/* Main body section */
#main-body-2 {
  padding: 20px; /* Adjust as needed */
}
@media (max-width: 768px) {
  .main-heading{
    margin-top: 10%;
  }
  .main-heading  h4{
    font-size: medium;
  }
  .waves {
      height: 40px;
      min-height: 40px;
  }
  .content {
      height: auto;
      margin-top: 10px;
  }
  h1 {
      font-size: 24px;
  }
  .img-container-main {
    gap: 8px;
  }

  #imgmain1,
  #imgmain2 {
      height: 140px;
      width: 40%; /* Set the width to 100% so they stack vertically */
      margin-bottom: 20px; /* Add some space between the images */
  }
  .scroll-down-button img{
    height: 80px;
    width: 80px;
  }
  .waves{
    height: max-content;
  }
  .main-heading{
    margin-top: 100px;
  }
  .card{
    width: 100%;
    flex-direction: column;
  }
  .card-container{
    width: fit-content;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0%;
  }
}